/* layout */
.pg-about{
  padding-top: 77px;
  background-color: #fff;
  .about{
    .box{
      .t{
        border-left: 5px solid #17ce98;
        height: 32px;
        line-height: 32px;
        color: #858585;
        font-size: 28px;
        padding-left: 16px;
        margin-top: 45px;
      }
      p{
        padding: 28px 28px 0;
        line-height: 1.8;
        color: #858585;
        font-size: 18px;
        img{
          display: block;
        }
      }
    }
  }
}
