<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
  <div class="main-box">
    <!-- -->
    <div class="mod-prompt">
      <h3 class="prompt-title">温馨提示</h3>
      <ol class="prompt-list">
        <li>1、请下载页面右上角的[产品条款]交于游客，以防游客投诉！</li>
        <li>2、保单生效后(过了起保日期)不能退保,如需退保请在生效前退保！</li>
        <li>3、发布[恶劣天气预警]之后所购对应日期航班延误责任保险公司不承担赔偿责任。</li>
        <li>4、每人每次限购一份。</li>
        <li>5、请于出发前一天购买保险，不接受当天投保。</li>
        <li>6、本保险产品不承保前往处于战争状态或已被宣布为紧急状态的国家或地区。</li>
        <li>7.  投保前请认真阅读投保须知</li>
      </ol>
    </div>
    <!-- -->

  </div>
</body>
</html>
