<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
  <div class="main-box">
    <!-- -->
    <div class="mod-result">
      <div class="mod-success">
        <i class="icon icon-success"></i>
        <div class="result">
          <h3 class="result-title">恭喜您，投保成功！</h3>
          <p class="result-txt">保单号：837901963510447049</p>
          <div class="btns-box mt20">
            <button class="btns btns-l" data-tips="不可点击时btns-disabled">查看保单</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
