<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-about">
      <div class="header">
        <div class="row">
          <div class="logo"></div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li class="current"><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ban">
        <ul>
          <li><img src="../pic/ban3.jpg" alt=""></li>
        </ul>
      </div>
      <div class="about row">
        <div class="box">
          <div class="t">众安科技</div>
          <p>
            众安信息技术服务有限公司是一家互联网大数据公司，成立于2016年，为众安在线财产保险股份有限公司的全资子公司。安众信息的核心理念是专注于运用先进的互联网大数据技术解决金融领域的风险控制问题，依靠众安保险提供有保证的大数据金融风险控制服务。
          </p>
          <p>
            <img src="../pic/map.jpg" alt="">
          </p>
        </div>
        <div class="box">
          <div class="t">联系我们</div>
          <p>
            电话：021-60243022<br>
            邮箱：ganhualai@zhongan.com<br>
            地址：上海市虹口区四川北路859弄中信广场42楼
          </p>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
