<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-prod">
      <div class="header">
        <div class="row">
          <div class="logo">提供专业的大数据金融风险控制服务</div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li class="current"><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="crumb">
        <div class="row">
          <a href="prod.html">产品介绍</a> &gt; 基础及通用算法服务
        </div>
      </div>
      <div class="list">
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img1"></div>
            <div class="intro-summary">
              <div class="t">基础及通用算法服务</div>
              <p>海量云数据源一站式接入</p>
              <a href="#" class="ui-btn">立即申请</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="intro-table">
          <div class="cell">
            <i class="icon-prod icon8"></i>
            <div class="t">
              风险名单识别
            </div>
            <p>
              海量风险信息库来源于实际信贷业务的积累，涵盖小贷机构、银行、电商平台、保险、法院等多行业，实时更新，可有效帮助信贷机构识别风险。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon9"></i>
            <div class="t">
              地址解析及风险识别
            </div>
            <p>
              有效识别异常地址，解决实际业务中地址标准化问题，基于机器学习算法提供基于地址的商业价挖掘、欺诈风险识别等衍生信息服务。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon10"></i>
            <div class="t">
              授权爬取服务
            </div>
            <p>
              通过用户授权，SDK一站式接入，获取公积金、社保、运营商等各类用户个人数据，利用数据挖掘技术结合众安信贷场景业务经验，最终为信贷机构自动化提供用户的大数据风险分析报告。
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
