<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-prod">
      <div class="header">
        <div class="row">
          <div class="logo">提供专业的大数据金融风险控制服务</div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li class="current"><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="crumb">
        <div class="row">
          <a href="prod.html">产品介绍</a> &gt; 大数据信贷风控云
        </div>
      </div>
      <div class="list">
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img3"></div>
            <div class="intro-summary">
              <div class="t">大数据风控引擎</div>
              <p>面向金融机构的场景化大数据风控解决方案</p>
              <a href="#" class="ui-btn">立即申请</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="intro-table">
          <div class="cell">
            <i class="icon-prod icon1"></i>
            <div class="t">
              贷前风险控制
            </div>
            <p>
              快速融合业务场景数据和互联网数据，利用先进机器学习技术为金融机构打造互联网大数据的场景内信用评估和授信决策。在线引擎，多维度信用评估，实时获取授信结果。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon2"></i>
            <div class="t">
              贷后风险监控
            </div>
            <p>
              针对已获得贷款未出现逾期的用户进行全天候24小时监控，当借贷人出现重复借贷或经济法律纠纷时，第一时间捕获风险并触发预警服务，及时通知客户，方便人工快速介入干预，从而可有效降低客户信用违约带来的损失。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon3"></i>
            <div class="t">
              风险决策系统
            </div>
            <p>
              基于对金融业务场景的理解，为各金融机构提供实时大数据风险决策系统，支持灵活的策略配置管理
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
