<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-core">
      <div class="header">
        <div class="row">
          <div class="logo"></div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li><a href="prod.html">产品介绍</a></li>
              <li class="current"><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ban">
        <ul>
          <li><img src="../pic/ban2.jpg" alt=""></li>
        </ul>
      </div>
      <div class="intro-table">
        <h2>安全保障</h2>
        <div class="cell">
          <i class="icon-core icon1"></i>
          <div class="t">
            专业安全防护
          </div>
          <p>
            使用专业的安全防护服务有效防止DDos攻击和网络渗透入侵
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon2"></i>
          <div class="t">
            非对称加密技术
          </div>
          <p>
            使用非对称加密算法-RSA对交互的数据进行加密和加签
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon3"></i>
          <div class="t">
            专业资深的技术服务团队
          </div>
          <p>
            技术人员均来自阿里、腾讯、以及其他国内外知名互联网企业
          </p>
        </div>
      </div>
      <div class="intro-table">
        <h2>产品特性</h2>
        <div class="cell">
          <i class="icon-core icon4"></i>
          <div class="t">
            无缝对接
          </div>
          <p>
            可根据金融机构自身的IT技术能力，提供SDK或API等方式无缝嵌入金融机构业务系统
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon5"></i>
          <div class="t">
            海量数据源
          </div>
          <p>
            整合政府、公安、银行、第三方等海量共享数据源，以及众安保险特有数据源
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon6"></i>
          <div class="t">
            风险共担
          </div>
          <p>
            众安保险可为数据服务全过程及结果进行信用背书，与合作方进行深度的风险共担合作
          </p>
        </div>
      </div>
      <div class="intro-table">
        <div class="cell">
          <i class="icon-core icon7"></i>
          <div class="t">
            一站式服务
          </div>
          <p>
            所有产品均可提供一站式服务，降低合作方接入成本，同时提供完善的后台系统和运营体系，帮助客户消除系统运维的后顾之忧
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon8"></i>
          <div class="t">
            量身定制
          </div>
          <p>
            可根据不同发展阶段客户进行定制化数据服务
          </p>
        </div>
        <div class="cell">
          <i class="icon-core icon9"></i>
          <div class="t">
            数据融合
          </div>
          <p>
            快速融合业务场景数据和互联网数据
          </p>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
