<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-prod">
      <div class="header">
        <div class="row">
          <div class="logo">提供专业的大数据金融风险控制服务</div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li class="current"><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="crumb">
        <div class="row">
          <a href="prod.html">产品介绍</a> &gt; 反欺诈风险决策
        </div>
      </div>
      <div class="list">
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img2" style="right:54px;left:auto"></div>
            <div class="intro-summary">
              <div class="t">反欺诈风险决策</div>
              <p>一站式解决欺诈难题</p>
              <a href="#" class="ui-btn">立即申请</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="intro-table">
          <div class="cell">
            <i class="icon-prod icon4"></i>
            <div class="t">
              信息验证服务
            </div>
            <p>
              身份、银行卡、学历、地址等多维信息交叉验证帮助用户对客户信息真实性进行校验，以标准API接口的方式提供服务，致力于利用大数据帮助用户识别欺诈、作弊、虚假申请等风险。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon5"></i>
            <div class="t">
              申请反欺诈
            </div>
            <p>
              针对信贷机构的借贷申请环节提供欺诈检测，帮助机构在申请环节剔除恶意逾期、多平台负责、贷款中介、老赖、骗保、团伙骗贷等欺诈客户，助力金融机构健康发展。
            </p>
          </div>
          <div class="cell">
            <i class="icon-prod icon6"></i>
            <div class="t">
              交易安全保护
            </div>
            <p>
              通过设备信息、IP、账户、交易时间、交易频次等多维度分析账户及交易行为数据，有效识别账户被盗、交易刷单等行为，对交易进行全天候安全保护服务。
            </p>
          </div>
        </div>
        <div class="intro-table">
          <div class="cell">
            <i class="icon-prod icon7"></i>
            <div class="t">
              金融账户保护
            </div>
            <p>
              针对登陆及注册环节可能存在的账户盗用、暴力破解、拖库撞库、垃圾注册等账户安全隐患进行欺诈行为监测，帮助金融机构提升账户安全保护能力。
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
