<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-main">
      <div class="header">
        <div class="row">
          <div class="logo"></div>
          <div class="nav">
            <ul>
              <li class="current"><a href="index.html">首页</a></li>
              <li><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ban">
        <ul>
          <li><img src="../pic/ban1.jpg" alt=""></li>
        </ul>
      </div>
      <div class="intro">
        <div class="t">我们的优势</div>
        <ul>
          <li>
            <div class="img icon1"></div>
            <div class="t">行业优势</div>
            <p>
            背靠阿里、腾讯、平安集团，以信用保证保险为基础深入各信贷场景构建信用账户体系，积累了丰富的互联网金融大数据风控实际经验
            </p>
          </li>
          <li>
            <div class="img icon2"></div>
            <div class="t">数据优势</div>
            <p>
            互联网保险业务已拓展近200个合作平台，积累航延航意、退运费、信保等特有用户数据，以及海量和多样化的用户行为数据，并整合政府、公安、银行、第三方等海量共享数据源
            </p>
          </li>
          <li>
            <div class="img icon3"></div>
            <div class="t">专业团队</div>
            <p>
            近百名专业化的大数据分析与挖掘团队，其中50%来自金融保险、50%来自互联网等技术公司背景
            </p>
          </li>
        </ul>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
