<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link type="image/x-icon" rel="shortcut icon">
    <title></title>
    <link href="//static.zhongan.com/website/public/zeropc/v1.0/css/main.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

  <div id="viewport">
    <div class="pg-prod">
      <div class="header">
        <div class="row">
          <div class="logo">提供专业的大数据金融风险控制服务</div>
          <div class="nav">
            <ul>
              <li><a href="index.html">首页</a></li>
              <li class="current"><a href="prod.html">产品介绍</a></li>
              <li><a href="core.html">核心价值</a></li>
              <li><a href="about.html">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img1"></div>
            <div class="intro-summary">
              <div class="t">基础及通用算法服务</div>
              <p>海量黑名单、地址数据库，多维度数据授权采集与自动化报告生成，帮助信贷机构、租赁保理等行业客户提升风险识别及大数据风险控制能力</p>
              <a href="algorithm.html" class="ui-btn">了解更多</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img2"></div>
            <div class="intro-summary">
              <div class="t">反欺诈风险决策</div>
              <p>提供身份、学历、银行卡、地址等多维信息交叉验证，利用行业和数据优势，为信贷、理财等企业提供贷前、贷中、贷后等场景的反欺诈保护，减少因欺诈带来的资金及信用损失</p>
              <a href="decision.html" class="ui-btn">了解更多</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="row">
            <div class="intro-img intro-img3"></div>
            <div class="intro-summary">
              <div class="t">大数据风控引擎</div>
              <p>快速融合业务场景数据和互联网数据，利用先进机器学习技术为金融机构打造互联网大数据的场景内信用评估和授信决策</p>
              <a href="bigdata.html" class="ui-btn">了解更多</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <ul>
            <li>
              <i class="img icon1"></i>电话咨询&emsp;021-60243022
            </li>
            <li>
              <i class="img icon2"></i>商务合作&emsp;ganhualai@zhongan.com
            </li>
            <li>
              <i class="img icon3"></i>加入我们&emsp;ganhualai@zhongan.com
            </li>
          </ul>
        </div>
        </ul>
      </div>
    </div>
  </div>

</body>
<script src="//static.zhongan.com/website/public/zeropc/v1.0/zero.seed.js"></script>
</html>
