@charset "utf-8";

//prompt start
.mod-prompt{
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #f28e3d;
  padding: 10px 20px;
  background-color: #fff5ea;
}
.prompt-title{
  line-height: 22px;
  font-size: 14px;
  font-weight: normal;
  padding-left: 24px;
  background: url(/images/sprites.png) -180px 2px no-repeat;
}
.prompt-list{
  // ol{
  //
  // }
  li{
  }
}
//end prompt
